%body
  = render partial: 'layouts/navbar'

  - if @document
    = label :filename, @document.filename
    = button_to 'Download', download_document_path(@document.file_url), method: :get, class: 'btn btn-primary'
    = button_to 'Back', documents_path, method: :get, class: 'btn btn-info'
  -# = render file: 'layouts/landingPage'
